body {
  display: flex;
  background-color: #555;
  flex-direction: row;
  padding: 30px;

  @media screen and (max-width: 800px) {
    padding: 0;
    margin: 0;
    canvas {
      width: 100% !important;
    }
  }

  #ui_container {
    display: flex;
    align-items: center;
  }

  #ui {
    position: absolute;
    width: 800px;
    height: 30px;
    padding-left: 20px;

    button {
      margin: 30px;
      display: block;
      padding: 20px;
      background: whitesmoke;
      border-radius: 3px;
      width: 200px;
      font-size: 20px;
      outline: 0;
      border: 0;
    }

    button::-moz-focus-inner {
      border: 0;
    }

    button:focus, button:active {
      background-color: red;
    }

    .subcontainer {
      width: 400px;
      > h2 {
        text-align: center;
        color: white;
      }
    }

    .rotate {
      display: block;
      overflow: hidden;
    }

    .rotate h2 {
      color: white;
    }

    .rotate {
      -webkit-animation: spin 10s linear infinite;
      -moz-animation: spin 10s linear infinite;
      animation: spin 10s linear infinite;
    }

    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(-360deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(-360deg);
      }
    }
    @keyframes spin {
      100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
      }
    }
  }
}

