body {
  display: flex;
  align-items: center;
  background-color: #555;
  flex-direction: column;
  padding: 30px;

  @media screen and (max-width: 800px) {
    padding: 0;
    margin: 0;
    canvas {
      width: 100% !important;
    }
  }

  #ui {
    position: absolute;
    width: 800px;
    height: 30px;
    padding-left: 20px;

    p {
      padding: 20px;
      background: whitesmoke;
      border-radius: 3px;
      width: 200px;
      font-size: 20px;
    }
  }
}

