body {
  display: flex;
  align-items: center;
  background-color: #555;
  flex-direction: column;
  padding: 30px;

  .game {
  }

  .ui {
    width: 800px;
    height: 30px;
    background-color: whitesmoke;
  }
}
